{% extends "simple/base.html" %}
{% load i18n %}
{% load staticfiles %}
{% block title %}{% trans "Instances" %}{% endblock %}
{% block style %}
    <link href="{% static "css/table-sort.css" %}" rel="stylesheet">
{% endblock %}
{% block content %}
    <div class="main col-xs-12 col-sm-9" role="main">
        {% if errors %}
            {% for error in errors %}
                <div class="alert alert-danger">
                    <button type="button" class="close" data-dismiss="alert" aria-hidden="true">×</button>
                    {{ error }}
                </div>
            {% endfor %}
        {% endif %}
        {% if instances %}
            <div class="table-responsive">
                <table class="table" id="sortTable">
                    <thead>
                    <tr class="active">
                        <th>{% trans "Name" %}</th>
                        <th>{% trans "Status" %}</th>
                        <th>{% trans "VCPUs" %}</th>
                        <th>{% trans "Memory" %}</th>
                        <th>{% trans "Action" %}</th>
                        <th>{% trans "SSH port" %}</th>
                    </tr>
                    </thead>
                    <tbody id="tbody">
                    </tbody>
                </table>
            </div>
        {% else %}
            <div class="well">
                <h4>{% trans "You do not have any Virtual Machines" %}</h4>
            </div>
        {% endif %}
    </div>
    {% include 'sidebar_close.html' %}
{% endblock %}
{% block script %}
    <script>
        function pad (str, max) {
            str = str.toString();
            return str.length < max ? pad("0" + str, max) : str;
        }
        function status() {
            $('#tbody').load('?update=true', function(){
                $('#form-action').ajaxForm(function(){
                    window.location.reload();
                });
            });
        }
        $(function () {
            window.setInterval('status()', {{ time_refresh }});
        });
        function open_console(uuid) {
            window.open("/console/?token=" + uuid, "", "width=850,height=485");
        }
    </script>
    <script src="{% static "js/jquery.tablesorter.js" %}"></script>
    <script src="{% static "js/jquery.form.min.js" %}"></script>
    <script>
        $(function() {
            $("#sortTable").tablesorter({
                ignoreCase: true,
                sortList: [[1,0], [0,0]],
                headers: {4: {sorter: false}, 5:{sorter: false}},
                textSorter: {0: $.tablesorter.sortText}
            });
        });
    </script>
    <script>
        $(document).ready(function() {
            status();
        });
    </script>
{% endblock %}
